body {
  background-color: #ffffff;
  color: #9c9c9c;
}

a {
  color: #9775cd;
  font-weight: bold;
}

a:visited {
  color: #9775cd;
}

a:hover {
  color: #9c9c9c;
}

p {
  font-size: 15px;
}

h1 {
  font-family: cooper-black-std, serif;
  font-style: normal;
  font-size: 65px;
  color: #9775cd;
}

h2 {
  font-family: cooper-black-std, serif;
  font-style: normal;
  font-size: 65px;
  color: #9775cd;
}

h3 {
  font-family: cooper-black-std, serif;
  font-style: normal;
  font-size: 65px;
  color: #9775cd;
}


h1.entry-title {
  font-family: cooper-black-std, serif;
  font-style: normal;
  font-size: 65px;
  color: #9775cd;
}
